@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Goin down, to Restaurant Town!</h1>
    <p class="lead">This be the place where we put the subtext YARRRRRRRRRR</p>
  </div>
</div>
@Html.ActionLink("See all restaurants", "Index", "Restaurants", null, new { @class = "btn btn-dark btn-large"})<br>
@Html.ActionLink("See all cuisines", "Index", "Cuisines", null, new { @class = "btn btn-dark btn-large" })<br>